:root {
    --main-color: #1ABC9C;
}

.custom-header {
    background-color: var(--main-color);
}

.btn-main {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: white;
}

.btn-outline-main {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    background-color: transparent;
}

.btn-outline-main:hover {
    background-color: var(--main-color);
    color: white;
}

.dropdown-menu {
    border: 1px solid var(--main-color);
    left: 0;
    right: auto;
}



.bg-main {
    background-color: var(--main-color);
}

.navbar-brand span {
    color: white;
}
.btn-outline-main {
    color: white;
    border-color: white;
}

.btn-outline-main:hover {
    background-color: white;
    color: #1ABC9C;
}


.tarjetas-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
}

.tarjeta {
    width: 180px;
    background-color: var(--main-color);
    border-radius: 25px;
    text-decoration: none;
    color: white;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.25);
}

.tarjeta img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.tarjeta-title {
    background: white;
    color: #000;
    font-weight: 700;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 16px;
    margin: 18px 0;
    width: 80%;
    text-align: center;
}

